header.header {
  grid-area: header;
  width: 100%;
  display: grid;
  grid-template:
    "header-group-1 header-group-2" 100px /
    0.8fr 0.2fr;
  background-color: #012b36;
  grid-gap: 15px;
}

header.header .header-group-1 {
  grid-area: header-group-1;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  place-items: center;
  padding-left: 50px;
}

header.header .header-group-1 a {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 900;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #fff;
  font-style: italic;
}

header.header .header-group-1 ul {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.div-inside-li {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-gap: 10px;
}

.div-inside-li-special {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

header.header .header-group-1 ul.list-nav li.special-uppercase {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-family: Roboto;
  cursor: pointer;
  padding-bottom: 1px;
}

header.header .header-group-1 ul.list-nav a.special-uppercase {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-family: Roboto;
  cursor: pointer;
  padding-bottom: 1px;
}

header.header .header-group-1 ul li:hover {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border-bottom: 1px solid #f7eeee52;
  color: #0050eb;
}

header.header .header-group-2 {
  grid-area: header-group-2;
  display: grid;
  grid-template-columns: 0.8fr 150px;
  grid-gap: 30px;
  justify-content: end;
  justify-items: end;
  align-items: center;
  padding-left: 250px;
}

.button-login-header {
  font-size: 16px;
  font-weight: 700;
  padding: 10px 10px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #0050eb;
  display: grid;
  grid-template-columns: 30px 80px;
  place-items: center;
}

/* .button-login-header:hover {
  background-color: #3684f1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
} */

.button-search {
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  width: 100%;
}

.button-search input {
  outline: none;
  border: none;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.button-search button {
  font-size: 16px;
  font-weight: 700;
  padding: 15px 15px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #0050eb;
}

/* .button-search button:hover {
  background-color: #3684f1;
  transition: 1s;
} */
